<html>
	<head><title>Create a new account</title></head>
	<body><h1>Sign up here!</h1>
	<p>To create a new user, enter your desired username and password below (maximum 16 characters each):</p>
		@{   
    var db = Database.Open("{{session['db']}}");
    var selectCommand = "SELECT  FROM Employees";
    var selectedData = db.Query(selectCommand); 
}

		<form action="{{url_for('create_user')}}" method="POST">
			Username: <input type="text" name="user" />
			Password: <input type="text" name="pass" />
			I am a: 
			<select name="role">
				<option value= "Logistics Officer"> Logistics Officer</option>
				<option value="Facilities Officer">Facilities Officer</option>
			</select>
			<input type="submit" value="Create user!"/>
		</form>
	</body>
</html>
