<html>
	<head><title>Add Asset</title></head>
	<body><h1>Add a new asset here!</h1>
	<p>To add a new asset, enter the asset's tag and description below:</p>

		<form action="{{url_for('add_asset')}}" method="POST">
			Tag:         <input type="text" name="tag"  />
			Description: <input type="text" name="desc" />
			<select name="faci">
				{% for each facility in session.facilities %}
				<option value= "{{facility}}_name">{{facility}}</option>
				{% endfor %}
			</select>
			Date of Arrival (mm/dd/yyyy): <input type="text" name="date" />
			<input type="submit" value="Create user!"/>
		</form>
	</body>
</html>
