<html>
	<head><title>Error</title></head>
	<body><h1>Oops! Something went wrong.</h1>
	<p>If you got here from trying to add a facility, follow these tips before trying again:</p>
	<p>&lt;&gt; The facility's common name must not exceed its 32 character limit and be at least 1 character long.</p>
	<p>&lt;&gt; The facility's fcode must not exceed its 6 character limit and be at least 1 character long.</p></p>
	<p>&lt;&gt; The facility (either by name or focde) must not already exist.</p>
		<form action="{{url_for('add_facility')}}" method="GET">
			<input type="submit" value="Return to Facility Add" />
		</form>

	<p>If you got here from trying to add an asset, remember that:</p>
	<p>&lt;&gt; The asset tag must not exceed its 16 character limit and be at least 1 character long.</p>
	<p>&lt;&gt; The asset tag you are trying to add must not match a tag that is already in the database.</p>
		<form action="{{url_for('login')}}" method="GET">
			<input type="submit" value="Return to Asset Add" />
		</form>

	<p>If you got here from trying to dipose of an asset, be sure that the asset exists and has yet to be disposed of.</p>
		<form action="{{url_for('login')}}" method="GET">
			<input type="submit" value="Return to Asset Dispose" />
		</form>
	</body>
</html>
