<html>
	<head><title>Asset Report</title></head>
	<body><h1>Filter Reports Here!</h1>
	<p> Generate a report of assets on a certain date.</p>
		<form action="{{url_for('asset_report')}}" method="POST">
			Choose a facillity (optional):
			<select name="r_faci">	
				<option value= ""></option>
				{% for facility in session.facility_dropdown %}
				<option value= "{{facility}}">{{facility}}</option>
				{% endfor %}
			</select>
			Date (mm/dd/yyyy): <input type="text" name="r_date" />
			<input type="submit" value="Generate Report!"/>
			<br>
			
		</form>
	<table>
		<tr>
			<td>|&nbsp; Asset Tag &nbsp; &nbsp; &nbsp;</td>
			<td>|&nbsp; Desciption  &nbsp; &nbsp; &nbsp;</td>
			<td>|&nbsp; Facility &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
			<td>|&nbsp; Date of Arrival  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
			<td>|&nbsp; Status  &nbsp; &nbsp; </td>
			<td>|&nbsp; Date Expunged  &nbsp; &nbsp;</td>
		</tr>
		<tr>
			<td>-------------------------</td>
			<td>----------------------------------------------</td>
			<td>----------------------------------------------</td>
			<td>--------------------------------</td>
			<td>---------------</td>
			<td>--------------------------------</td>
		</tr>
		{% for entry in session.asset_table %}
		<tr>
			<td>{{ entry.asset_tag }}</td>
			<td>{{ entry.description }}</td>
			<td>{{ entry.common_name }}</td>
			<td>{{ entry.arrival }}</td>
			<td>{{ entry.status }}</td>
			<td>{{ entry.disposal }}</td>
		</tr>
		{% endfor %}	
	</table>
	<br>
		<form action="{{url_for('dashboard')}}" method="GET">
			<input type="submit" value="Return to Dashboard" />
		</form>
		<form action="{{url_for('login')}}" method="GET">
			<input type="submit" value="Log out" />
		</form>
	</body>
</html>
