<html>
	<head><title>Dashboard</title></head>
	<body><h1>Hi, {{session['user']}} :)</h1>
	<p></p>
		<form action="{{url_for('add_facility')}}" method="GET">
			Got a new facility? <input type="submit" value="Add Facility" />
		</form>
	<br>
		<form action="{{url_for('add_asset')}}" method="GET">
			Have new assets you'd like to add? <input type="submit" value="Add Asset" />
		</form>
	<br>
		<form action="{{url_for('dispose_asset')}}" method="GET">
			Looking to get rid of an asset? <input type="submit" value="Dispose Asset" />
		</form>
	<br>
		<form action="{{url_for('asset_report')}}" method="GET">
			Want to know about assets on a certain date? <input type="submit" value="Asset Report" />
		</form>
	<br>
		<form action="{{url_for('transfer_req')}}" method="GET">
			Want to request a transfer? <input type="submit" value="Request Transfer" />
		</form>
	<br>
		<form action="{{url_for('dashboard')}}" method="GET">
			Want to know about trasnfer requests made? <input type="submit" value="Transfer Report" />
		</form>
	<br>
		<form action="{{url_for('login')}}" method="GET">
			<input type="submit" value="Log out" />
		</form>
	</body>
</html>
