<html>
	<head><title>Facilities Inventory</title></head>
	<body><h1>Facilities Inventory Report</h1>
	<p>Filtered by "{{data}}":</p>
	<table>
		<tr>
			<td>| Facility &nbsp; &nbsp; &nbsp;|</td>
			<td>&nbsp; Asset Tag  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;|</td>
			<td>&nbsp; Arrival Date  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;|</td>
			<td>&nbsp; Expunge Date  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;|</td>	
		</tr>
		<tr>
			<td>--------------+</td>
			<td>--------------------+</td>
			<td>----------------------------+</td>
			<td>-----------------------------</td>
		</tr>
		{% for entry in session.report %}
		<tr>
			<td>{{ entry.fcode }}</td>
			<td>{{ entry.asset_tag }}</td>
			<td>{{ entry.arrive_dt }}</td>
			<td>{{ entry.depart_dt }}</td>
		</tr>
		{% endfor %}	
	</table>
	<br></br>
	<p>Click the button below to logout.</p>
		<form action="{{url_for('logout')}}">
			<input type="submit" name="submit" />
		</form>
	</body>
</html>
