<html>
	<head><title>Login</title></head>
	<body><h1>Welcome!</h1>
	<p>Connected to {{dbhost}} at port {{dbport}} for database {{dbname}}.</p>
	<br>
		<form action="{{url_for('login')}}" method="POST">
			Username: <input type="text" name="login_name" />
			Password: <input type="text" name="login_pass" />
			<input type="submit" value="Log in" />
		</form>
	<br>
		<form action="{{url_for('create_user')}}" method="GET">
			New to OSNAP? <input type="submit" value="Create a new account" />
		</form>
	<br>
		<form action="{{url_for('add_facility')}}" method="GET">
			Got a new facility? <input type="submit" value="Add Facility" />
		</form>
	<br>
		<form action="{{url_for('login')}}" method="GET">
			Have new assets you'd like to add? <input type="submit" value="Add Asset" />
		</form>
	<br>
		<form action="{{url_for('login')}}" method="GET">
			Looking to get rid of an asset? <input type="submit" value="Dispose Asset" />
		</form>
	</body>
</html>
