<html>
	<head><title>Error</title></head>
	<body><h1>Oops! Something went wrong.</h1>
	<p>If you got here from trying to log in, then the username {{session['user']}}and the password entered did not match our records. Please try again.</p>
		<form action="{{url_for('login')}}" method="GET">
			<input type="submit" value="Return to Login" />
		</form>
	<p>If you got here from trying to create a new account, follow these tips before trying again:</p>
	<p>&lt;&gt; The username must not exceed the 16 character limit.</p>
	<p>&lt;&gt; The password must not exceed the 16 character limit.</p></p>
	<p>&lt;&gt; The username must be at least 1 character long.</p>
		<form action="{{url_for('create_user')}}" method="GET">
			<input type="submit" value="Create a new user" />
		</form>
	</body>
</html>
